.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.generated-enter {
  opacity: 0;
}

.generated-enter.generated-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.generated-leave {
  opacity: 1;
}

.generated-leave.generated-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
